body {
	width: 100%;
	font-family: Times;
	font-size: 18px;
	background-image: url(images/background.jpg);
}

.main {
	width: 900px;
	margin: 0 auto;
	background-color: white;
}

.main:after {
  content: "";
  display: table;
  clear: both;
}

.green {
	background-color: #31420b;
	color: white;
	line-height: 48px;
	border-radius: 5px;
}

.main_content {
	
}

.logo_inner {
	display: inline-block;
	width: 182px;
	height: 206px;
}

.name_inner {
	display: inline-block;
	width: 195px;
	text-align: center;
	vertical-align: top;
}

.social_inner {
	display: inline-block;
	float: right;	
}

.social_inner ul {
	list-style: none;
	text-align: right;
}

.social_inner a {
	text-decoration: none underline;
	color: #31420B;
	padding-bottom: 25px;
	float: right;
}

.social_inner a:hover {
	color: green;
}

.mainbar {
	display: inline-block;
	float: left;
	width: 66%;
	font-size: 16px;
	line-height: 1.6em;
}

.mainbar p {
	text-indent: 25px;
}

.mainbar h1 {
	font-size: 28px;
}

.mainbar img {
	width: 575px;
}

.sidebar {
	display: inline-block;
	float: right;
	width: 33%;
}

.nav_header {
	width: 300px;
	height: 48px;
}

.sidebar ul {
	list-style: none;
}

.sidebar a {
	text-decoration: none underline;
	color: #31420B;
	padding-bottom: 25px;
}

footer a {
	display: inline-block;
	float: right;
	width: 200px;
	text-align: center;
	text-decoration: none;
	color: white;
}

footer p {
	display: inline-block;
	width: 300px;
	margin: auto 10px;
}