ul {list-style: none; padding-left: 10px;}
p { margin: 0; padding: 10px 0;}
a {text-decoration: none underline; color: #31420B; padding-bottom: 20px;}
a:hover {color: green;}

body {
	width: 100%;
	font-family: Times;
	font-size: 18px;
	background-image: url(images/background.jpg);
}

.white {
	background-color: white;
	width: 900px;
	margin: 0 auto;
	border-radius: 5px;

}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.green {
	background-color: #31420b;
	color: white;
	line-height: 28px;
	border-radius: 5px;
	padding-left: 15px;
}

.logo_inner {
	display: inline-block;
	width: 182px;
	height: 206px;
}

.name_inner {
	display: inline-block;
	width: 195px;
	text-align: center;
	vertical-align: top;
}

.social_inner {
	display: inline-block;
	float: right;	
}

.social_inner ul {
	text-align: right;
}

.social_inner a {
	float: right;
}

.social_inner a:hover {
	color: green;
}

.mainbar {
	display: inline-block;
	float: left;
	width: 65%;
	font-size: 16px;
	line-height: 1.6em;
	padding-left: 15px;
}

.mainbar p {
	text-indent: 25px;
}

.mainbar h1 {
	font-size: 28px;
	line-height: 1.4em
}

.mainbar img {
	width: 575px;
}

.sidebar {
	display: inline-block;
	float: right;
	width: 32%;
}

.nav_header {
	width: 297px;
	background-color: #31420b;
	color: white;
	line-height: 28px;
}

.menu li {
	/*text-decoration: none underline;*/
	color: #31420B;
	padding-bottom: 20px;
}

footer a {
	display: inline-block;
	float: right;
	width: 200px;
	text-align: center;
	text-decoration: none;
	color: white;
}

footer p {
	display: inline-block;
	width: 300px;
	margin: auto 10px;
}