
body {
	width: 100%;
	font-family: Times;
	font-size: 18px;
}

.main {
	width: 900px;
	margin: 0 auto;
	background-color: #ffffff
}

.footer_green {
	height: 48px;
	border-radius: 5px;
}

.footer_green p {
	
}
.green {
	background-color: #31420b;
	color: white;
}

.footer_white {
	float: left;
}

.logo_inner {
	display: inline-block;
	width: 182px;
	height: 206px;
}

.name_inner {
	display: inline-block;
	width: 195px;
	text-align: center;
	vertical-align: top;
}

.social_inner {
	display: inline-block;
	float: right;	
}

.ul_none {
	list-style: none;
}

.footer_social a {
	text-decoration: none;
	color: #31420B;
	text-align: right;
}